Sustituimos los valores Nan por la media para no perder registros.

In [31]:
import pandas as pd

In [32]:
X_train = pd.read_csv("./DatosAbandono/X2_train.csv")
X_train.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_train = pd.read_csv("./DatosAbandono/y2_train.csv")
y_train.rename(columns={'Unnamed: 0':'id'}, inplace=True)
train = pd.merge(X_train, y_train, on='id')
train = train.drop("id", axis=1)
print("train shape antes de borrar Nan: ", train.shape)
#train.dropna(how='any', inplace=True)
#print("train shape despues de borrar Nan: ", train.shape)
X_train = train.iloc[:,:-1]
y_train = train.iloc[:, -1:]



X_val = pd.read_csv("./DatosAbandono/X2_val.csv")
X_val.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_val = pd.read_csv("./DatosAbandono/y2_val.csv")
y_val.rename(columns={'Unnamed: 0':'id'}, inplace=True)
val = pd.merge(X_val, y_val, on='id')
val = val.drop("id", axis=1)
print("val shape antes de borrar Nan: ", val.shape)
#val.dropna(how='any', inplace=True)
#print("val shape despues de borrar Nan: ", val.shape)
X_val = val.iloc[:,:-1]
y_val = val.iloc[:, -1:]



X_test = pd.read_csv("./DatosAbandono/X2_test.csv")
X_test.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_test = pd.read_csv("./DatosAbandono/y2_test.csv")
y_test.rename(columns={'Unnamed: 0':'id'}, inplace=True)
test = pd.merge(X_test, y_test, on='id')
test = test.drop("id", axis=1)
print("test shape antes de borrar Nan: ", test.shape)
#test.dropna(how='any', inplace=True)
#print("test shape despues de borrar Nan: ", test.shape)
X_test = test.iloc[:,:-1]
y_test = test.iloc[:, -1:]

data = pd.concat([train, val, test])


# train.to_csv('./DatosAbandonoSinPondSinNan/train.csv', sep=',', decimal='.', index=False)
# X_train.to_csv('./DatosAbandonoSinPondSinNan/X_train.csv', sep=',', decimal='.', index=False)
# y_train.to_csv('./DatosAbandonoSinPondSinNan/y_train.csv', sep=',', decimal='.', index=False)

# val.to_csv('./DatosAbandonoSinPondSinNan/val.csv', sep=',', decimal='.', index=False)
# X_val.to_csv('./DatosAbandonoSinPondSinNan/X_val.csv', sep=',', decimal='.', index=False)
# y_val.to_csv('./DatosAbandonoSinPondSinNan/y_val.csv', sep=',', decimal='.', index=False)

# test.to_csv('./DatosAbandonoSinPondSinNan/test.csv', sep=',', decimal='.', index=False)
# X_test.to_csv('./DatosAbandonoSinPondSinNan/X_test.csv', sep=',', decimal='.', index=False)
# y_test.to_csv('./DatosAbandonoSinPondSinNan/y_test.csv', sep=',', decimal='.', index=False)

# data.to_csv('./DatosAbandonoSinPondSinNan/data.csv', sep=',', decimal='.', index=False)

train shape antes de borrar Nan:  (19953, 41)
val shape antes de borrar Nan:  (4989, 41)
test shape antes de borrar Nan:  (6236, 41)

In [33]:
print(f'El dataframe tiene un total de {len(data)} filas.')
len(data) - data.count() # vemos cu√°ntos valores NaN hay por columna

El dataframe tiene un total de 31178 filas.

OCOD3              0
SENWT              1
CNTSCHID           0
BSMJ            5281
ST001D01T          0
GCSELFEFF       2565
PV8RTSN            1
PV10RCER           1
MASTGOAL        1882
PV4RCER            1
GCAWARE         2655
PV4RTML            1
PV10RTSN           1
PV4RCLI            1
PV1RCER            1
PV7RCUN            1
PV1RTML            1
PV3RCUN            1
PV5RTSN            1
PV6RTSN            1
PV8RTML            1
PV3RCER            1
PV9RCLI            1
PV8RCLI            1
PV9MATH            0
PV6RTML            1
PV9READ            0
PV8RCUN            1
PV3READ            0
PV3RTSN            1
PV2RTSN            1
PV1GLCM            0
PV7RCER            1
PV8RCER            1
PV9RTSN            1
PV10RTML           1
PV6RCER            1
PV5RCUN            1
PV10RCLI           1
PV7RTML            1
DROPOUT_RISK       0
dtype: int64

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31178 entries, 0 to 6235
Data columns (total 41 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OCOD3         31178 non-null  int64
 1   SENWT         31177 non-null  float64
 2   CNTSCHID      31178 non-null  float64
 3   BSMJ          25897 non-null  float64
 4   ST001D01T     31178 non-null  float64
 5   GCSELFEFF     28613 non-null  float64
 6   PV8RTSN       31177 non-null  float64
 7   PV10RCER      31177 non-null  float64
 8   MASTGOAL      29296 non-null  float64
 9   PV4RCER       31177 non-null  float64
 10  GCAWARE       28523 non-null  float64
 11  PV4RTML       31177 non-null  float64
 12  PV10RTSN      31177 non-null  float64
 13  PV4RCLI       31177 non-null  float64
 14  PV1RCER       31177 non-null  float64
 15  PV7RCUN       31177 non-null  float64
 16  PV1RTML       31177 non-null  float64
 17  PV3RCUN       31177 non-null  float64
 18  PV5RTSN       31177 non-null  float64
 19  PV6RTSN       31177 non-null  float64
 20  PV8RTML       31177 non-null  float64
 21  PV3RCER       31177 non-null  float64
 22  PV9RCLI       31177 non-null  float64
 23  PV8RCLI       31177 non-null  float64
 24  PV9MATH       31178 non-null  float64
 25  PV6RTML       31177 non-null  float64
 26  PV9READ       31178 non-null  float64
 27  PV8RCUN       31177 non-null  float64
 28  PV3READ       31178 non-null  float64
 29  PV3RTSN       31177 non-null  float64
 30  PV2RTSN       31177 non-null  float64
 31  PV1GLCM       31178 non-null  float64
 32  PV7RCER       31177 non-null  float64
 33  PV8RCER       31177 non-null  float64
 34  PV9RTSN       31177 non-null  float64
 35  PV10RTML      31177 non-null  float64
 36  PV6RCER       31177 non-null  float64
 37  PV5RCUN       31177 non-null  float64
 38  PV10RCLI      31177 non-null  float64
 39  PV7RTML       31177 non-null  float64
 40  DROPOUT_RISK  31178 non-null  int64
dtypes: float64(39), int64(2)
memory usage: 10.0 MB

In [35]:
data.isnull().any() # vemos qu√© columnas tienen valores NaN

OCOD3           False
SENWT            True
CNTSCHID        False
BSMJ             True
ST001D01T       False
GCSELFEFF        True
PV8RTSN          True
PV10RCER         True
MASTGOAL         True
PV4RCER          True
GCAWARE          True
PV4RTML          True
PV10RTSN         True
PV4RCLI          True
PV1RCER          True
PV7RCUN          True
PV1RTML          True
PV3RCUN          True
PV5RTSN          True
PV6RTSN          True
PV8RTML          True
PV3RCER          True
PV9RCLI          True
PV8RCLI          True
PV9MATH         False
PV6RTML          True
PV9READ         False
PV8RCUN          True
PV3READ         False
PV3RTSN          True
PV2RTSN          True
PV1GLCM         False
PV7RCER          True
PV8RCER          True
PV9RTSN          True
PV10RTML         True
PV6RCER          True
PV5RCUN          True
PV10RCLI         True
PV7RTML          True
DROPOUT_RISK    False
dtype: bool

In [36]:
data.head()

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV1GLCM,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML,DROPOUT_RISK
0,5312,0.12762,72400642.0,24.98,9.0,-0.3942,454.112,521.570,-1.7101,482.296,...,515.221,432.307,439.821,417.673,418.863,501.880,493.764,532.562,500.678,2
1,2341,0.11360,72400299.0,76.49,10.0,-0.9245,555.810,621.970,-0.0940,573.922,...,581.228,671.652,605.917,604.273,528.853,617.100,612.626,595.217,567.502,0
2,110,0.12794,72400127.0,60.92,8.0,-0.4038,610.075,513.757,1.8524,580.198,...,562.724,575.387,594.244,610.115,533.581,570.786,597.612,574.027,571.532,2
3,5411,0.03512,72400661.0,46.38,9.0,-0.4720,355.136,332.079,-0.4347,394.915,...,366.160,362.860,352.015,302.830,360.158,362.000,330.098,280.031,348.090,0
4,3411,0.42566,72400155.0,57.00,10.0,-0.1247,545.486,475.272,1.1969,662.077,...,616.622,526.312,605.057,503.340,525.220,485.852,613.356,519.077,555.490,0

In [37]:
data.shape

(31178, 41)

In [38]:
columnas = data.columns

In [39]:
# Numero de valores por categor√≠a
# Se puede ver que el dataset est√° muy desbalanceado
data.DROPOUT_RISK.value_counts()

0    21535
2     6763
1     2880
Name: DROPOUT_RISK, dtype: int64

Vamos a balancear el dataset empleando una estrategia de subsampling en las clases que vas valores tienen.

Con ello esperamos conseguir la misma cantidad de valores por cada categor√≠a.

[https://www.aprendemachinelearning.com/clasificacion-con-datos-desbalanceados/](https://www.aprendemachinelearning.com/clasificacion-con-datos-desbalanceados/)

[https://imbalanced-learn.org/dev/references/generated/imblearn.under_sampling.NearMiss.html](https://imbalanced-learn.org/dev/references/generated/imblearn.under_sampling.NearMiss.html)

In [40]:
from sklearn.impute import SimpleImputer
si = SimpleImputer()

In [41]:
si.fit(data)

SimpleImputer()

In [42]:
si.statistics_

array([ 4.09670146e+03,  1.38661003e-01,  7.24005514e+07,  6.82914836e+01,
        9.69388671e+00, -9.36352008e-03,  4.82711543e+02,  4.91243075e+02,
       -1.03304769e-01,  4.93212193e+02,  4.30226203e-02,  4.91001614e+02,
        4.83471599e+02,  4.83424890e+02,  4.91177235e+02,  4.86099840e+02,
        4.90609376e+02,  4.86531952e+02,  4.83507224e+02,  4.83786869e+02,
        4.93024011e+02,  4.94363844e+02,  4.84807517e+02,  4.87499172e+02,
        4.89872155e+02,  4.91186517e+02,  4.83829578e+02,  4.85990795e+02,
        4.83568338e+02,  4.82549367e+02,  4.83502894e+02,  5.21739756e+02,
        4.91953059e+02,  4.91257051e+02,  4.82714563e+02,  4.91810890e+02,
        4.93151424e+02,  4.85239689e+02,  4.86219462e+02,  4.92112809e+02,
        5.26204375e-01])

In [43]:
datos = si.fit_transform(data)

In [44]:
data = pd.DataFrame(datos, columns=columnas)

In [45]:
data.DROPOUT_RISK.value_counts()

0.0    21535
2.0     6763
1.0     2880
Name: DROPOUT_RISK, dtype: int64

In [46]:
data.isnull().any() # vemos qu√© columnas tienen valores NaN

OCOD3           False
SENWT           False
CNTSCHID        False
BSMJ            False
ST001D01T       False
GCSELFEFF       False
PV8RTSN         False
PV10RCER        False
MASTGOAL        False
PV4RCER         False
GCAWARE         False
PV4RTML         False
PV10RTSN        False
PV4RCLI         False
PV1RCER         False
PV7RCUN         False
PV1RTML         False
PV3RCUN         False
PV5RTSN         False
PV6RTSN         False
PV8RTML         False
PV3RCER         False
PV9RCLI         False
PV8RCLI         False
PV9MATH         False
PV6RTML         False
PV9READ         False
PV8RCUN         False
PV3READ         False
PV3RTSN         False
PV2RTSN         False
PV1GLCM         False
PV7RCER         False
PV8RCER         False
PV9RTSN         False
PV10RTML        False
PV6RCER         False
PV5RCUN         False
PV10RCLI        False
PV7RTML         False
DROPOUT_RISK    False
dtype: bool

In [47]:
print(f'El dataframe tiene un total de {len(data)} filas.')
len(data) - data.count() # vemos cu√°ntos valores NaN hay por columna

El dataframe tiene un total de 31178 filas.

OCOD3           0
SENWT           0
CNTSCHID        0
BSMJ            0
ST001D01T       0
GCSELFEFF       0
PV8RTSN         0
PV10RCER        0
MASTGOAL        0
PV4RCER         0
GCAWARE         0
PV4RTML         0
PV10RTSN        0
PV4RCLI         0
PV1RCER         0
PV7RCUN         0
PV1RTML         0
PV3RCUN         0
PV5RTSN         0
PV6RTSN         0
PV8RTML         0
PV3RCER         0
PV9RCLI         0
PV8RCLI         0
PV9MATH         0
PV6RTML         0
PV9READ         0
PV8RCUN         0
PV3READ         0
PV3RTSN         0
PV2RTSN         0
PV1GLCM         0
PV7RCER         0
PV8RCER         0
PV9RTSN         0
PV10RTML        0
PV6RCER         0
PV5RCUN         0
PV10RCLI        0
PV7RTML         0
DROPOUT_RISK    0
dtype: int64

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
y = data.iloc[:,-1:]
X = data.iloc[:,:-1]

In [50]:
# Otra forma de dividir los datos en X e y
# y = data['DROPOUT_RISK']
# X = data.drop('DROPOUT_RISK', axis=1)

In [51]:
y.head()

   DROPOUT_RISK
0           2.0
1           0.0
2           2.0
3           0.0
4           0.0

In [52]:
X.head()

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV2RTSN,PV1GLCM,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML
0,5312.0,0.12762,72400642.0,24.98,9.0,-0.3942,454.112,521.570,-1.7101,482.296,...,473.974,515.221,432.307,439.821,417.673,418.863,501.880,493.764,532.562,500.678
1,2341.0,0.11360,72400299.0,76.49,10.0,-0.9245,555.810,621.970,-0.0940,573.922,...,539.508,581.228,671.652,605.917,604.273,528.853,617.100,612.626,595.217,567.502
2,110.0,0.12794,72400127.0,60.92,8.0,-0.4038,610.075,513.757,1.8524,580.198,...,547.678,562.724,575.387,594.244,610.115,533.581,570.786,597.612,574.027,571.532
3,5411.0,0.03512,72400661.0,46.38,9.0,-0.4720,355.136,332.079,-0.4347,394.915,...,357.155,366.160,362.860,352.015,302.830,360.158,362.000,330.098,280.031,348.090
4,3411.0,0.42566,72400155.0,57.00,10.0,-0.1247,545.486,475.272,1.1969,662.077,...,576.587,616.622,526.312,605.057,503.340,525.220,485.852,613.356,519.077,555.490

In [53]:
# Dividimos en train y test, pero estos datos est√°n desbalanceados

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

In [54]:
y_train.DROPOUT_RISK.value_counts()

0.0    17159
2.0     5436
1.0     2347
Name: DROPOUT_RISK, dtype: int64

In [55]:
X_train.to_csv('./DatosAbandonoSinNan/X_train.csv', sep=',', decimal='.', index=False)
y_train.to_csv('./DatosAbandonoSinNan/y_train.csv', sep=',', decimal='.', index=False)

In [56]:
X_test.to_csv('./DatosAbandonoSinNan/X_test.csv', sep=',', decimal='.', index=False)
y_test.to_csv('./DatosAbandonoSinNan/y_test.csv', sep=',', decimal='.', index=False)

### Subsampling

In [57]:
from collections import Counter
from imblearn.under_sampling import NearMiss

In [58]:
# Hacemos un subsampling para que los datos no esten tan desbalanceados


#us = NearMiss(version=3, sampling_strategy='auto', n_neighbors=3)
us = NearMiss(version=1, sampling_strategy={0:4985, 1:2183, 2:4985}, n_neighbors=3)
#us = NearMiss(version=3, sampling_strategy='majority', n_neighbors=3)
#us = NearMiss(version=3, sampling_strategy='all', n_neighbors=3)

X_train_res, y_train_res = us.fit_resample(X_train, y_train)

In [59]:
y_train_res.DROPOUT_RISK.value_counts()

0.0    4985
2.0    4985
1.0    2183
Name: DROPOUT_RISK, dtype: int64

In [60]:
X_train_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12153 entries, 0 to 12152
Data columns (total 40 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OCOD3      12153 non-null  float64
 1   SENWT      12153 non-null  float64
 2   CNTSCHID   12153 non-null  float64
 3   BSMJ       12153 non-null  float64
 4   ST001D01T  12153 non-null  float64
 5   GCSELFEFF  12153 non-null  float64
 6   PV8RTSN    12153 non-null  float64
 7   PV10RCER   12153 non-null  float64
 8   MASTGOAL   12153 non-null  float64
 9   PV4RCER    12153 non-null  float64
 10  GCAWARE    12153 non-null  float64
 11  PV4RTML    12153 non-null  float64
 12  PV10RTSN   12153 non-null  float64
 13  PV4RCLI    12153 non-null  float64
 14  PV1RCER    12153 non-null  float64
 15  PV7RCUN    12153 non-null  float64
 16  PV1RTML    12153 non-null  float64
 17  PV3RCUN    12153 non-null  float64
 18  PV5RTSN    12153 non-null  float64
 19  PV6RTSN    12153 non-null  float64
 20  PV8RTML    12153 non-null  float64
 21  PV3RCER    12153 non-null  float64
 22  PV9RCLI    12153 non-null  float64
 23  PV8RCLI    12153 non-null  float64
 24  PV9MATH    12153 non-null  float64
 25  PV6RTML    12153 non-null  float64
 26  PV9READ    12153 non-null  float64
 27  PV8RCUN    12153 non-null  float64
 28  PV3READ    12153 non-null  float64
 29  PV3RTSN    12153 non-null  float64
 30  PV2RTSN    12153 non-null  float64
 31  PV1GLCM    12153 non-null  float64
 32  PV7RCER    12153 non-null  float64
 33  PV8RCER    12153 non-null  float64
 34  PV9RTSN    12153 non-null  float64
 35  PV10RTML   12153 non-null  float64
 36  PV6RCER    12153 non-null  float64
 37  PV5RCUN    12153 non-null  float64
 38  PV10RCLI   12153 non-null  float64
 39  PV7RTML    12153 non-null  float64
dtypes: float64(40)
memory usage: 3.7 MB

In [61]:
X_train_res.to_csv('./DatosAbandonoSinNanSub/X_train.csv', sep=',', decimal='.', index=False)
y_train_res.to_csv('./DatosAbandonoSinNanSub/y_train.csv', sep=',', decimal='.', index=False)

In [62]:
X_test.to_csv('./DatosAbandonoSinNanSub/X_test.csv', sep=',', decimal='.', index=False)
y_test.to_csv('./DatosAbandonoSinNanSub/y_test.csv', sep=',', decimal='.', index=False)

### Oversampling

In [63]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier

from pylab import rcParams

from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import RandomOverSampler
from imblearn.combine import SMOTETomek
from imblearn.ensemble import BalancedBaggingClassifier

from collections import Counter

In [64]:
os = RandomOverSampler(sampling_strategy = {0:166551, 1:10000, 2:10000})
X_train_res, y_train_res = os.fit_resample(X_train, y_train)

c:\Users\ferni\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (166551) in class 0 will be larger than the number of samples in the majority class (class #0.0 -> 17159)
  warnings.warn(

In [65]:
y_train.value_counts()

DROPOUT_RISK
0.0             17159
2.0              5436
1.0              2347
dtype: int64

In [66]:
y_train_res.value_counts()

DROPOUT_RISK
0.0             166551
1.0              10000
2.0              10000
dtype: int64

In [67]:
y_train_res.head()

   DROPOUT_RISK
0           2.0
1           0.0
2           0.0
3           0.0
4           0.0

In [68]:
X_train.head()

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV2RTSN,PV1GLCM,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML
2981,2166.0,0.13192,72400807.0,79.740000,9.0,0.4678,526.323,521.747,-2.0701,441.721,...,473.378,506.454,414.594,471.736,416.076,475.662,435.675,422.110,511.977,457.772
29115,9704.0,0.11762,72400611.0,68.291484,10.0,-0.2748,548.550,591.977,-0.0940,602.918,...,562.749,603.205,571.540,559.750,538.285,544.191,556.007,596.359,636.066,551.533
3578,2149.0,0.03584,72400495.0,78.690000,10.0,0.1904,500.843,625.069,0.3468,556.307,...,507.630,520.248,462.912,486.849,525.122,515.561,537.818,615.189,475.595,474.676
2565,2149.0,0.06583,72400452.0,78.690000,10.0,-0.4200,550.693,593.103,0.5761,610.835,...,496.918,579.448,517.344,501.871,470.802,550.015,634.043,535.374,558.294,547.725
21431,2250.0,0.12886,72400039.0,84.140000,9.0,0.7559,400.932,535.828,-0.2151,372.172,...,415.774,519.590,540.930,438.689,415.118,424.512,440.286,497.883,447.503,492.055

In [69]:
X_train_res.head()

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV2RTSN,PV1GLCM,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML
0,2166.0,0.13192,72400807.0,79.740000,9.0,0.4678,526.323,521.747,-2.0701,441.721,...,473.378,506.454,414.594,471.736,416.076,475.662,435.675,422.110,511.977,457.772
1,9704.0,0.11762,72400611.0,68.291484,10.0,-0.2748,548.550,591.977,-0.0940,602.918,...,562.749,603.205,571.540,559.750,538.285,544.191,556.007,596.359,636.066,551.533
2,2149.0,0.03584,72400495.0,78.690000,10.0,0.1904,500.843,625.069,0.3468,556.307,...,507.630,520.248,462.912,486.849,525.122,515.561,537.818,615.189,475.595,474.676
3,2149.0,0.06583,72400452.0,78.690000,10.0,-0.4200,550.693,593.103,0.5761,610.835,...,496.918,579.448,517.344,501.871,470.802,550.015,634.043,535.374,558.294,547.725
4,2250.0,0.12886,72400039.0,84.140000,9.0,0.7559,400.932,535.828,-0.2151,372.172,...,415.774,519.590,540.930,438.689,415.118,424.512,440.286,497.883,447.503,492.055

In [70]:
X_train_res.to_csv('./DatosAbandonoSinNanOver/X_train.csv', sep=',', decimal='.', index=False)
y_train_res.to_csv('./DatosAbandonoSinNanOver/y_train.csv', sep=',', decimal='.', index=False)

In [71]:
X_test.to_csv('./DatosAbandonoSinNanOver/X_test.csv', sep=',', decimal='.', index=False)
y_test.to_csv('./DatosAbandonoSinNanOver/y_test.csv', sep=',', decimal='.', index=False)